@model List<AllEmployeesFormModel>

<div class="mb-5"></div>

<h1 class="text-center">All Employees</h1>

<div class="mb-4"></div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">FirstName</th>
      <th scope="col">MiddleName</th>
      <th scope="col">LastName</th>
      <th scope="col">Email</th>
      <th scope="col">PhoneNumber</th>
      <th scope="col">BirthDate</th>
      <th scope="col">Salary</th>
      <th scope="col">Operations</th>
      <th scope="col">Tasks</th>
    </tr>
  </thead>
  <tbody>
     
    @foreach (var employee in Model)
   {
     var tasks = employee.Tasks;
        
     <tr>
        <td scope="col">@employee.FirstName</td>
        <td scope="col">@employee.MiddleName</td>
        <td scope="col">@employee.LastName</td>
        <td scope="col">@employee.Email</td>
        <td scope="col">@employee.PhoneNumber</td>
        <td scope="col">@employee.BirthDate.ToString("dd/MM/yyyy")</td>
        <td scope="col">@(employee.Salary)</td>
        
        <td scope="col">                                   
            <a asp-area="" asp-controller="Employees" asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger float-left ml-3">Delete</a>             
            <a asp-area="" asp-controller="Employees" asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-warning float-left ml-3">Edit</a>            
            <a asp-area="" asp-controller="AllEmployees" asp-action="AddTask" asp-route-id="@employee.Id" class="btn btn-info float-left ml-3">AddTask</a>               
        </td> 

        <td scope="col">               
              @foreach(var task in tasks)
              {
                        @if (task.IsCompleted == false)
                        {
                            <a asp-area="" asp-controller="Tasks" asp-action="TaskView" asp-route-id="@task.Id" asp-route-ide="@employee.Id"class="btn btn-danger float-left ml-3">@task.Title</a>                            
                        }

                        @if(task.IsCompleted == true)
                        {
                            <a asp-area="" asp-controller="Tasks" asp-action="TaskView" asp-route-id="@task.Id" asp-route-ide="@employee.Id"class="btn btn-success float-left ml-3">@task.Title</a>
                        }                                                          
              }
        </td>                   
     </tr>                  
   }
  </tbody>
</table>
